#hello {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: -2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* ================ */
h1 {
  font-family: "Young Serif", serif;
  font-size: clamp(3.5rem, 6vw, 6rem);
  letter-spacing: 2px;
  text-align: center;
}

.gradient {
  background: linear-gradient(120deg, rgb(var(--primary)), rgb(var(--accent)));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ================ */
p {
  margin-top: 2rem;

  color: rgba(var(--text), 0.6);
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-align: center;
}

@media (min-width: 768px) {
  p br {
    display: none;
  }
}

/* ================ */
.links {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.links a {
  display: flex;
  align-items: center;

  color: rgb(var(--primary));
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-decoration: none;
}

.links a:not(:first-child) {
  margin-top: 0.5rem;
}

.links a span {
  display: block;
  margin-left: 0.5rem;
}

.links a:hover span {
  transform: translateX(0.25rem);
}
