@media (prefers-color-scheme: light) {
  :root {
    --text: 4, 36, 47;
    --background: 225, 249, 243;
    --primary: 22, 92, 116;
    --secondary: 203, 239, 251;
    --accent: 231, 72, 19;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 208, 240, 251;
    --background: 6, 30, 24;
    --primary: 139, 210, 233;
    --secondary: 4, 40, 52;
    --accent: 236, 77, 24;
  }
}

@media (max-width: 575px) {
  :root {
    font-size: 12px;
  }
}

/* ================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* ================ */
html {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-color: rgb(var(--background));
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 100vh;

  color: rgb(var(--text));
  font-family: "Gabarito", sans-serif;
}

/* ================ */
nav {
  position: sticky;

  display: flex;
  align-items: center;

  margin: 2rem auto;
}

nav a {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4rem;

  color: rgb(var(--text));
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
}

nav a:not(:first-child) {
  margin-left: 1rem;
}

nav a[data-active="true"] {
  color: rgb(var(--background));
  background-color: rgb(var(--accent));
}

nav a:hover {
  transform: scale(1.05);
}

nav a:not([data-active="true"]):hover {
  background-color: rgba(var(--secondary), 0.5);
}

/* ================ */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
